@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
   
    font-family: "Roboto", sans-serif;    
}
#main{
    
   
    background-color: #EFEAE3; 
    
   
}

/* -----------------------------------------------------------alert-box--------------------------------------- */

#alert-box{
  display:flex;
  flex-direction: column;
  gap:1vh;
  width:90vw;
  aspect-ratio: 1.9/1; 
  z-index: 999;
  background-color: #FFFBFF;
  border-radius: 5vw;
  box-shadow: 1vw 1vw 2vw rgba(0,0,0, 0.5);
  position:fixed;
  top:-150vh;
  left:5vw;
  /* left:5vw; */
  transform:translate(0,-45%);
  padding:5vw;
}

#alert-msg-div{
  width:100%;
  height:60%;
  font-size:4vw;
  line-height: 6vw;;
  color:rgb(45, 46, 42)
}

#alert-btn-div{
  width:100%;
  height:40%;
  display:flex;
  justify-content: flex-end;
  align-items: center;
}

#alert-btn{
  background-color: #6D5192;
  width:25%;
  height:12vw;
  border-radius: 6vw;
  border:3px solid white;  
  position: relative;
  color:white;
  font-size: 4vw;
  font-weight: 600;
}

#alert-btn::after{
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  border-radius: calc(6vw + 5px);
  background-color: #6D5192;
  z-index: -1;
}
#alert-box-overlay{
  
  width:100%;
  height:100vh;
  background-color: rgba(0, 0, 0, 0.6);
  position:fixed;
  top:-500vh;
  z-index: 998;
}

/* -----------for large screens(PCs and laptops)------------ */

@media (min-width:769px) {
  #alert-box{
    gap:1vw;
    width:33vw;
    height:32vh;   
    border-radius: 1.5vw;
    box-shadow: 1vw 1vw 2vw rgba(0,0,0, 0.5);   
    left:50vw; 
    transform:translate(-50%,0);
    padding:1.5vw;
  }

  #alert-msg-div{
    width:100%;
    height:60%;
    font-size:1.2vw;
    line-height: 2vw;    
  }
 
  #alert-btn{    
    width:20%;
    height:3vw;
    border-radius: 6vw;
    border:3px solid white;     
    font-size: 1vw;
    font-weight: 600;
  }

  #alert-btn::after{  
    top: -5px;
    left: -5px;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    border-radius: calc(6vw + 5px);  
  }
}




/* ---------------------------------------------------------disclaimer----------------------------------------- */
#disclaimer-box{
  box-shadow: 1vw 1vw 1vw rgb(34, 33, 33);
}
#disclaimer-msg-div::-webkit-scrollbar{
  display: none;
}
#disclaimer-continue-btn:hover {
 background-color: #178a32;
}
#disclaimer-exit-btn:hover{
  background-color: #9e191d
}


@media (max-width:480px) {
  #disclaimer-box{
    max-height: 80vh;
  }
}
/* ---------for large screens (PCs and laptops)-------------- */

@media (min-width:769px) {

  #disclaimer-msg-div{
      max-height:75vh;
  }

  #disclaimer-btn-div{
      height:10vh;
      display:flex;
      justify-content: center;
      gap:2vw
  }

  #disclaimer-title{
      font-size: 3vw;
      margin-bottom: 3vw;
  }

  #exclaimation-icon{
      font-size: 2.5vw;
  }

  #disclaimer-msg{
      font-size: 2vw;
  }

  #disclaimer-continue-btn, #disclaimer-exit-btn{
      width: 25%;
      height:4vw;
      display: flex;
      margin: 0;
      font-size:2vw
  }

}

/* --------------------------------------------------------starting animation section------------------------- */

.starting-anim-title{
  visibility: hidden;
}

/* -------------------------------------------------------navbar--------------------------------------------- */

#nav-items-wrapper{
  min-height: fit-content;
  min-width: fit-content;
}
#nav-menu-div{
  display:flex;   
                            
}

#nav-items-div{
 display:none;
 
}

#logo-div{
  height:70%;
  aspect-ratio: 1/1;
}

#menu-icon-div{
  aspect-ratio: 1/1;
}

#menu-icon{
  transition: all 0.3s linear;
}

#cross-icon{
  transition: all 0.3s linear;
}

#expand-nav-menu{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.nav-items{
  padding: 1.5vh 1.5vw;
  position: relative;
  border:0.2px solid #423e38;
  overflow: hidden;

}
.nav-items::after{
  content: "";

  background-color: black;
  border-radius: 50%;
  position:absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0%;
  transform: translate(0, 101%);
  transition: all 0.3s ease;
  z-index: -1;
  
 
}
.nav-items:hover{
  color:white;
}

.nav-items:hover::after{
  
  transform: translate(0, 0);
  border-radius: 0;
}
.nav-items-text{
  font-size:1.2vw;
}

/* ----------------medium screens----------------------------------------------- */

@media (min-width:481px){
  #navbar{
      height: 20vh;
  }
  #navItems-screenModeBtn-div{
    gap:3vw;
  }
 
  #logo-div{
      height:80%;        
  }
  #screen-mode-wrapper{
    height:45%;
    width:12%;
  }
  #menu-icon-div{
      margin-top: 0.5vw;
      margin-bottom: 0.5vw;
      height:3vh;
      padding-top: 1vw;
      padding-bottom: 1vw;
  }
  #menu-text{
      margin-top: 0.5vw;
      margin-bottom: 0.5vw;
      font-size: 4vw;
      padding-top: 1vw;
      padding-bottom: 1vw;
  }
}

/* ---------for large screens (PCs and laptops (ipads excluded))-------------- */

@media (min-width:769px) {
  #navbar{
      height: 25vh;
      background-color: transparent;
      
  }

  #nav-menu-div{
     display:none;       
                           
  }

  #nav-items-div{
    display:flex;
 
  }

  #logo-div{
      height:80%;        
  }
  #menu-icon-div{
      margin-top: 1.5vw;
      margin-bottom: 1.5vw;
      height:3.2vh;
  }
  #menu-text{
      margin-top: 1.5vw;
      margin-bottom: 1.5vw;
  }
}



/* --------------------------------------------------------banner------------------------------------------ */

#header{
  display: flex;
  flex-direction: column;
  align-items: center;    
}

#banner{
  display: flex;
  flex-direction: column; 
   gap:10vh;
  border-bottom: 1px solid grey;
}

#title{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
#banner-video-div{
  height:70vh;
  width: 100%;
}

/* ------------------------------for large screens------------------------ */
@media (min-width:769px){
  #banner{
    display: flex;
    flex-direction: row-reverse; 
    justify-content: space-between;
     gap:2vh;
    border-bottom: 1px solid grey;
  }
  #title{
    
    
    justify-content: flex-start;
    
  }
  #banner-video-div{
    width: 100%;
    height:120vh;
  }
}

/* -------------------------------------------------------slider----------------------------------------------- */
#slider{
  display: flex;
  align-items: center;
}
#moving-text{
  overflow-x: auto;
}
#moving-text::-webkit-scrollbar{
  display: none;
}
.moving-text-div{
  display:inline-block;
  animation: text-anim 10s linear infinite;

}
.slider-text{
  font-size: 13vw;
  display:inline-block;
  font-weight: bold;
}
.slider-separator{
  width:5vw;
  height: 5vw;
  border-radius: 50%;
  background-color: #FE330A;
  display:inline-block;
  margin: 3vw 3vw;
}
@keyframes text-anim {
  from{
      transform: translate(0);
  }
  to{
      transform: translate(-100%)
  }
}

/* ---------------------------------------------for large screen------------------------------ */
@media (min-width:769px)  {
  .slider-text{
    font-size: 10vw;
    
  }
  .slider-separator{
    width:5vw;
    height: 5vw;
    border-radius: 50%;    
    margin: 0 2.5vw;
  }
}



/* -------------------------------------------------------------------------------------------------------- */

#animation-oval{
  animation: oval-anim 4s linear  infinite alternate;
  transform-origin: 0% 0%;
}
@keyframes oval-anim {

  from{
      transform:translate(-15vw, -10vw) scale(1.3) skew(10deg, 15deg);
  }
  to{
      transform:translate(5vw, 15vw) scale(1.3) skew(10deg, -20deg);
  }    

}

/* --------------------------------------------------------about section---------------------------------------- */

#about{
  min-height: fit-content;
}
#about-anim{
  animation: anim 4s linear  infinite alternate;
  /* transform-origin: 0% 0%; */
}
@keyframes anim {
  from{
      transform:translate(-20vw,5vw) scale(1.25) skew(0deg,-15deg);
  }
  to{
      transform:translate(10vw,-20vw) skew(0deg,0deg);
  }
}

/* ----------------------------------------for large screens--------------------------- */

@media(min-width:769px){
  /* #about{
    min-height:content;
  } */
}

/* -------------------------------------------------------featured section----------------------------------------- */

.featured-card{
  width:100%;
  height:75vh;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  /* transition: all 0.3s ease; */
}



.image-container{
  overflow: hidden;
  width:100%;
  height:73%;
  border-radius: 25px;
  margin-bottom: 2vh;
}
.project-thumbnail{
  width:100%;
  height:100%;
  object-fit: cover;
  object-position: center;
}
.project-details{
  width:100%;
  height:25%;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
}
#project-7-details{
  height:15%;
}
.project-title{
  font-size: 8vw;
  font-weight:bolder;
  letter-spacing: -0.1vw;
  
}
.client-company{
  font-size: 3vw;
  line-height: 4vw;
}

.project-category{
  font-size: 3vw;
  font-weight:bolder;
  color: rgba(0, 0, 0, 0.347);
 
  line-height: 4vw;
}

#more-projects-btn{
  max-width:max-content;
  max-height: max-content;
}

/* ---------------------------------for large screens------------------------------ */

@media (min-width:769px){
  .featured-card{
    position: relative;
    width:100%;
    height:25vh;       
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* padding:0 2.5vw; */
    border-bottom: 1px solid grey;
    overflow: hidden;
  }
  .project-background-div{
    
    width:inherit;
    height:inherit;
    background-color: #FF9831;
    position: absolute;
    top:-101%;
    z-index: -1;
  }
  .image-container{
    width:25vw;
    height:75vh;
    margin-bottom: 0;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(0, -50%);
    display:none;
    z-index: 999;
    opacity: 0;
    /* transition: opacity 0.3s ease; */
  }
  .project-thumbnail{
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: center;
    /* margin-left: 2.5vw; */
  }
  .project-details{
    width:100%;
    height:25%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-right: 2.5vw;
  }
  #project-7-details{
    height:25%;
    
  }
  .project-title{
    width:90%;
    font-size: 4vw;
    font-weight:bolder;
    letter-spacing: -0.1vw;
    margin-left: 2.5vw;
    
  }
  .client-company{
    font-size: 1vw;
    line-height: 1.2vw;
    
  }
  
  .project-category{
    font-size: 1vw;
    font-weight:bolder;
    color: rgba(0, 0, 0, 0.347);
   
    line-height: 1.2vw;
  }

  #more-projects-btn::after{
    content: "";
  
    background-color: black;
    border-radius: 50%;
    position:absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0%;
    transform: translate(0, 101%);
    transition: all 0.3s ease;
    z-index: -1;
    
   
  }
  #more-projects-btn:hover{
    color:white;
  }
  
  #more-projects-btn:hover::after{
    
    transform: translate(0, 0);
    border-radius: 0;
  }

}


/* ------------------------------------------------------------------services--------------------------------- */
.services-categories{
  width:100%;
  display:flex;
  gap:3vw;
  
}
.services-bar{
  height:100%;
  width:1vw;


}
.service-title{
  font-size: 15vw;
  line-height: 15vw;
  font-weight: bold;
}

.service-details-div{
  width:100%;
  height:100%;
  position: absolute;
  top:0;
  left:0;
  padding:0 5vw;
}

.service-details{
  color:white;
  font-size: 4vw;
  line-height: 5vw;
}

.service-image-div{
  position: absolute;
  left:0;
  bottom: 0;
  width:100%;
  height:50%;
  overflow: hidden;
  border-radius: 20px;
}
.services-img{
  object-position: center;
}


#services-details-2, #services-details-3, #services-img-2, #services-img-3{
  visibility: hidden;
}



/* -------------------------------------for large screens----------------------- */
@media (min-width:769px){
  
  .services-categories{
    width:100%;
    display:flex;
    gap:3vw;
    
  }
  .services-bar{
    height:100%;
    width:0.3vw;
  
  
  }
  .service-title{
    font-size: 5vw;
    line-height: 5vw;
    font-weight: bold;
  }
  
  .service-details-div{
    width:80%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    padding:0 ;
    padding-left: 10vw;
  }

  .service-details{
    color:white;
    font-size: 1.5vw;
    line-height: 2vw;
  }

  .service-image-div{
    position: absolute;
    left:50%;
    top: 0;
    
    width:50%;
    height:100%;
    
  }
}







/* ----------------------------------------------------------------client section------------------------------ */

#client-card-div::-webkit-scrollbar{
  display: none;
}

.client-card{
  display:inline-block;
  width:70%;
  height:100%;
  /* margin-right: 10vw; */
  border-left: 1px solid grey;
  white-space: normal;
  overflow: hidden;
  padding:0 5vw;
  
}

.client-logo-div{
  width:60%;
  height: 40%;
  margin:0 auto;    
}

.client-logo-white, .client-logo-dark{
  object-fit:contain;
  width:100%;
  height: 100%;
  position:absolute;
}

.client-desc-div{
  width:100%;
  height:60%;
  padding:5vw 0;
}

.client-desc{
  font-size: 4vw;
}


/* ----------------------------for large screens------------------------------ */
@media(min-width:769px){
  .client-card{
    width:25%;
    height:100%;
    padding:0 5vw;  
  }
  
  .client-logo-div{
    width:60%;
    height: 40%;
    margin:0 auto;    
  }
  
  .client-logo-white, .client-logo-dark{
    object-fit:contain;
    width:100%;
    height: 100%;
    position:absolute;
  }
  
  .client-desc-div{
    width:100%;
    height:60%;
    padding:1vw 0;
    
  }
  
  .client-desc{
    font-size: 1.2vw;
  }
}

/* -----------------------------------------------------contact------------------------------------- */

#contact{
  max-height: fit-content;
}
#contact-anim{
  animation: anim-contact 4s linear  infinite alternate;
  /* transform-origin: 0% 0%; */
}

@keyframes anim-contact {
  from{
      transform:translate(-20vw,5vw) scale(1.25) skew(0deg,-15deg);
  }
  to{
      transform:translate(10vw,-20vw) skew(0deg,0deg);
  }
}





/* ----------------------------------------------------------footer----------------------------------------- */

#company-name-div{
  min-height: max-content;
}
#footer-animation{
  animation: footer-anim 3s linear  infinite alternate;    
}

@keyframes footer-anim {
  from{
      transform:translate(-10vw,5vw) skew(20deg,-20deg);
  }
}



