@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #EFEAE3;
   
    font-family: "Roboto", sans-serif;
    /* overflow: hidden; */
}

#menu-icon{
    transition: all 0.3s linear;
}
#cross-icon{
    transition: all 0.3s linear;
}

#expand-nav-menu{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
#header{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap:7vh */
}
#banner{
    display: flex;
    flex-direction: column;
    gap:10vh;
    border-bottom: 1px solid grey;
}
#title{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

/* -------------------------------------------------------slider----------------------------------------------- */
#slider{
    display: flex;
    align-items: center;
}
#moving-text{
    overflow-x: auto;
}
#moving-text::-webkit-scrollbar{
    display: none;
}
.moving-text-div{
    display:inline-block;
    animation: text-anim 10s linear infinite;

}
.slider-text{
    font-size: 13vw;
    display:inline-block;
    font-weight: bold;
}
.slider-separator{
    width:5vw;
    height: 5vw;
    border-radius: 50%;
    background-color: #FE330A;
    display:inline-block;
    margin: 3vw 3vw;
}
@keyframes text-anim {
    from{
        transform: translate(0);
    }
    to{
        transform: translate(-100%)
    }
}


/* -------------------------------------------------------------------------------------------------------- */


#animation-oval{
    animation: oval-anim 4s linear  infinite alternate;
    transform-origin: 0% 0%;
}
@keyframes oval-anim {
  
    from{
        transform:translate(-15vw, -10vw) scale(1.3) skew(10deg, 15deg);
    }
    to{
        transform:translate(5vw, 15vw) scale(1.3) skew(10deg, -20deg);
    }
    

}


/* --------------------------------------------------------about section---------------------------------------- */

#about-anim{
    animation: anim 4s linear  infinite alternate;
    /* transform-origin: 0% 0%; */
}
@keyframes anim {
    from{
        transform:translate(-20vw,5vw) scale(1.25) skew(0deg,-15deg);
    }
    to{
        transform:translate(10vw,-20vw) skew(0deg,0deg);
    }
}


/* ---------------------------------------------------------------featured section----------------------------------------- */

.featured-card{
    width:100%;
    height:75vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.image-container{
    width:100%;
    height:73%;
}
.project-thumbnail{
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: center;
}
.project-details{
    width:100%;
    height:25%;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}
.project-title{
    font-size: 8vw;
    font-weight:bolder;
    letter-spacing: -0.1vw;
    
}
.client-company{
    font-size: 3vw;
    line-height: 4vw;
}

.project-category{
    font-size: 3vw;
    font-weight:bolder;
    color: rgba(0, 0, 0, 0.347);
   
    line-height: 4vw;
}

/* ------------------------------------------------------------------services--------------------------------- */
/* 
#design{
    color:#504A45;
} */
 #services-details-2, #services-details-3, #services-img-2, #services-img-3{
    visibility: hidden;

}

.services-img{
    object-position: center;
}

/* ----------------------------------------------------------------client section------------------------------ */

#client-card-div::-webkit-scrollbar{
    display: none;
}

.client-card{
    display:inline-block;
    width:70%;
    height:100%;
    /* margin-right: 10vw; */
    border-left: 1px solid grey;
    white-space: normal;
    overflow: hidden;
    padding:0 5vw;
    
}

.client-logo-div{
    width:60%;
    height: 40%;
    margin:0 auto;

    
}
.client-logo-white, .client-logo-dark{
    object-fit:contain;
    width:100%;
    height: 100%;
    position:absolute;
}

.client-desc-div{
    width:100%;
    height:60%;
    padding:5vw 0;

}
.client-desc{
    font-size: 4vw;

}




/* ---------------------------------------------------------------footer----------------------------------------- */

#footer-animation{
    animation: footer-anim 3s linear  infinite alternate;
    /* transform-origin: 0% 0%; */
}
@keyframes footer-anim {
    from{
        transform:translate(-10vw,5vw) skew(20deg,-20deg);
    }
    to{
        /* transform:translate(10vw,-20vw) ; */
    }
}
.licenses{
    color:white;
    font-size: 3vw;
}